.ptzBox {
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 365px;
}

.ptzBox mat-card {
    padding-bottom: 30px;
}

.timelineExecution {
    position: absolute;
    background-color: rgba(100,100,100, 0.2);
    width: 365px;
    height: 97%;
    z-index: 999;
    overflow: hidden;
}

.timelineExecution button {
    width: 325px;
    margin: 20px;
}

.timelineExecution mat-list-item {
    background-color: gainsboro;
    width: 345px;
    margin: 10px;
}

.timelineExecution mat-list-item .title {
    font-size: 14px;
    font-weight: bold;
}

.timelineExecution mat-list-item .subhead {
    font-size: 12px;
    font-style: italic; 
    color: gray;
}

.timelineExecution mat-list-item .time {
    font-size: 12px;
    position: absolute;
    padding: 10px;
    right: 20px;
}

.timelineExecution .step-pending {
    background-color:#999;
}
.timelineExecution .step-running {
    background-color: lightpink;
}
.timelineExecution .step-done {
    display: none;
}

.logButtonDiv {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.progress-bar {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.progress-bar-spinner {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.progress-bar span {
    position: relative;
    font-size: 1.5em;
    top: 40px;
    color: white;
}

.status-svg {
    width: 10px;
    position: absolute;
    top: 16px;
    right: -8px;
}

.mat-icon-button {
    width: 32px;
}