body {
  background-color: #42a5f5;
}

.disabled {
  background-color: #eee;
  cursor: wait !important;
}

.saveMode {
  color: red;
}
.saveMode .sub {
  color: red;
}

.row {
  margin: 0 auto;
  width: 290px;
  clear: both;
  text-align: center;
  font-family: 'Exo';
}

.digit,
.dig {
  float: left;
  padding: 20px 2px;
  width: 89px;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;  
}

.sub {
  font-size: 0.8rem;
  color: grey;
  margin-top: 7px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.container {
  background-color: white;
  width: 280px;
  padding: 10px;
  margin: 0 auto;
  height: 340px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#output {
  font-family: "Exo";
  font-size: 2rem;
  height: 60px;
  font-weight: bold;
  color: #1976d2;
}

#call {
  display: inline-block;
  background-color: #66bb6a;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

.botrow {
  margin: 0 auto;
  width: 280px;
  clear: both;
  text-align: center;
  font-family: 'Exo';
}

#call:hover {
  background-color: #81c784;
}

.dig {
  float: left;
  padding: 10px 20px;
  margin: 10px;
  width: 30px;
  cursor: pointer;
}