<h1 mat-dialog-title>Youtube</h1>
<mat-dialog-content *ngIf="loading">
    <table style="height: 200px">
    <tr>
        <td align="center">
            CARREGANDO ...
        </td>
    </tr>
    </table>
</mat-dialog-content>
<mat-dialog-content *ngIf="!loading && youtubeIsConnected">
    <table *ngFor="let channelInfo of channelInfoList">
    <tr>
      <td [width]="channelInfo?.snippet.thumbnails.default.width + 20" valign="top" align="left" rowspan="4">
        <img
          [src]="channelInfo?.snippet.thumbnails.default.url"
          [width]="channelInfo?.snippet.thumbnails.default.width"
          [height]="channelInfo?.snippet.thumbnails.default.height" />
      </td>
      <td>
        <span style="font-weight: bold;">{{ channelInfo?.snippet.title }}</span><br>
        <span style="font-style: italic;">{{ channelInfo?.snippet.description }}</span>
      </td>
    </tr>
    <tr>
      <td>
        <hr>
        Inscritos: {{ channelInfo?.statistics.subscriberCount }} <br />
        Videos publicados: {{ channelInfo?.statistics.videoCount }} <br />
        Visualizações: {{ channelInfo?.statistics.viewCount }}
        <hr>
      </td>
    </tr>
    <tr>
      <td>
        <button mat-raised-button (click)="disconnect()">DESCONECTAR</button>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-content *ngIf="!loading && !youtubeIsConnected">
    <table style="height: 200px">
    <tr>
        <td>
          <button mat-raised-button (click)="connect()">Você não está conectado. Clique aqui para conectar.</button>
        </td>
    </tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Sair</button>
</mat-dialog-actions>
